<h2>Sekotāji</h2>
<div class="follow-list">
  <% @user.followers.each do |follower| %>
   
      <%= link_to profile_path(follower) do %>
        <div class="follow-item">
        <div class="follow-item-content">
                    <div class="default-profile-picture" style="background-color: <%= follower.profile_color %>; margin-right: 10px;">
          <% if follower.profile_picture.attached? %>
            <%= image_tag follower.profile_picture, class: "profile-picture", style: " width: 50px;height: 50px;border-radius: 50%;margin-right: 10px;object-fit: cover;" %>
          <% else %>
            <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture", style: " width: 50px;height: 50px;border-radius: 50%;object-fit: cover;" %>
          <% end %>
                    </div>
          <span class="follow-username"><%= follower.username %></span>
        </div>
        </div>
      <% end %>
  <% end %>
</div>