<div class="follow-list">
  <% @user.following.each do |followed| %>
    
      <%= link_to profile_path(followed) do %>
        <div class="follow-item">
        <div class="follow-item-content">
                    <div class="default-profile-picture" style="background-color: <%= followed.profile_color %>; margin-right: 10px;">
          <% if followed.profile_picture.attached? %>
            <%= image_tag followed.profile_picture, class: "profile-picture", style: " width: 70px;height: 70px;border-radius: 50%;object-fit: cover;"%>
          <% else %>
            <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture", style: " width: 70px;height: 70px;border-radius: 50%;object-fit: cover;" %>
          <% end %>
                    </div>
          <span class="follow-username"><%= followed.username %></span>
        </div>
        </div>
      <% end %>
  <% end %>
  </div>