<div class="profile-card">
  <div class="profile-inner">
    <div class="profile-info">
      <div class="profile-picture-wrapper">
        <div>
                  <div class="default-profile-picture" style="background-color: <%= @user.profile_color %>; width:100%; height:100%;">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture, alt: "#{@user.username}", class: "profile-picture", style: "height:100%; width:100%; object-fit:cover;" %>
        <% else %>
            <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture" %>
        <% end %>
                  </div>
      </div>
      </div>

      <h1 class="profile-username">
  <span class="username-text"><%= @user.username %></span>

  <span id="friend-status-container-<%= @user.id %>" class="friend-status-container">
  <% if current_user&.friends_with?(@user) %>
    <span class="friend-status"><i class="fa-solid fa-user-group"></i></span>
  <% end %>
</span>

</h1>


      

      <div class="user-details">
        <p class="follow-links">
          <%= link_to followers_profile_path(@user), class: "follow-link follower" do %>
            <span class="follow-count" id="follower-count-<%= @user.id %>">
              <%= @user.followers.count %>
            </span>
            <span class="follow-label">Followers</span>
          <% end %>

          <%= link_to following_profile_path(@user), class: "follow-link following" do %>
            <span class="follow-count"><%= @user.following.count %></span>
            <span class="follow-label">Following</span>
          <% end %>
        </p>

        <% if current_user && current_user != @user && !@user.deleted? %>
          <button
            type="button"
            class="follow-button <%= current_user.following?(@user) ? 'unfollow' : 'follow' %>"
            onclick="toggleFollow(<%= @user.id %>, this)"
            data-following="<%= current_user.following?(@user) %>"
            id="follow-button-<%= @user.id %>"
          >
            <%= current_user.following?(@user) ? 'Unfollow' : 'Follow' %>
          </button>
        <% elsif !current_user %>
          <p>
            <%= link_to 'Follow', new_user_registration_path, class: "follow-button follow" %>
          </p>
        <% end %>
      </div>
    </div>

    <% if current_user == @user %>
      <div class="settings-link">
        <%= link_to raw("<i class='fa-solid fa-gear'></i>"),
                    edit_user_registration_path,
                    class: "settings-icon" %>
      </div>
    <% end %>
  </div>

 <% if current_user == @user %>
  <div class="user-description-edit description">
    
    <div id="description-display" class="description-display">
      <div class="edit-btn-container">
        <button onclick="toggleDescriptionEdit(true)" class="icon-btn" title="Edit">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </div>
      <% if @user.description.present? %>
        <p><%= simple_format(@user.description) %></p>
      <% else %>
        <p class="text-muted">No description added yet.</p>
      <% end %>
    </div>

    <div id="description-form" style="display:none;" class="description-form">
      <%= form_with(model: @user, url: profile_path(@user), method: :patch, local: true) do |f| %>
        <div class="edit-btn-container">
          <button type="submit" class="icon-btn text-success" title="Save">
            <i class="fa-solid fa-check"></i>
          </button>
          <button type="button" onclick="toggleDescriptionEdit(false)" class="icon-btn text-danger" title="Cancel" style="margin-bottom:0;">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <%= f.text_area :description, rows: 4, class: "form-control", value: @user.description %>
      <% end %>
    </div>
  </div>
<% else %>
  <% if @user.description.present? %>
    <div class="user-description description">
      <p><%= simple_format(@user.description) %></p>
    </div>
  <% end %>
<% end %>

</div>
 


<div class="ProfileActivities">

 <div class="profile-buttons">
    <%= link_to profile_path(@user),
                class: "btn #{params[:liked].nil? ? 'active' : ''}" do %>
      <i class="<%= params[:liked].nil? ? 'fa-solid fa-message' : 'fa-regular fa-message' %>"></i>
      <span class="btn-label">Posts</span>
    <% end %>

    <%= link_to profile_path(@user, liked: true),
                class: "btn #{params[:liked] == 'true' ? 'active' : ''}" do %>
      <i class="<%= params[:liked] == 'true' ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"></i>
      <span class="btn-label">Likes</span>
    <% end %>
  </div>
<div class="user-activity"
     data-controller="pagination"
     data-pagination-mode-value="<%= params[:liked] == 'true' ? 'profile_liked_activities' : 'profile_activities' %>"
     data-pagination-direction-value="down" style="min-width:80%;">

  <div data-pagination-target="messages">
  <% if @user.deleted? %>
    <p>This profile is blocked.</p>
  <% elsif @activities.empty? %>
    <p style="text-align:center;">No <%= params[:liked] == 'true' ? 'liked messages' : 'activity' %> here.</p>
  <% else %>
    <%= render partial: 'profiles/activity',
               collection: @activities,
               as:         :activity %>

   <% if @activities.present? %>
  <% last_activity = @activities.last %>
  <div id="load-more-trigger"
       data-message-id="<%= last_activity.id %>"
       data-activity-type="<%= params[:liked] == 'true' ? 'message' : last_activity.actionable_type.underscore %>"
       data-user-id="<%= @user.id %>"
       data-liked-mode="<%= params[:liked] == 'true' %>">
  </div>
<% end %>
</div>


  <% end %>
</div>


</div>
