<div style="display:flex;flex-direction: column-reverse;">
  <div class="profile-info">
    <div class="profile-picture">
      <%= link_to profile_path(@user) do %>
                  <div class="default-profile-picture" style="background-color: <%= @user.profile_color %>; width:100px; height:auto;">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture, alt: "#{@user.username}", class: "profile-picture", style: "height:100px; width:100px; object-fit:cover;" %>
        <% else %>
            <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture" %>
        <% end %>
                  </div>
      <% end %>
    </div>

    <h1 class="profile-username">
      <p><%= @user.username %></p>
    </h1>

    <div class="user-details">
      <p>
        <%= link_to "#{@user.followers.count} SekotÄji", followers_profile_path(@user), class: "follower" %> |
        <%= link_to "#{@user.following.count} Seko", following_profile_path(@user), class: "following" %>
      </p>

      <% if current_user %>
        <% if current_user != @user %>
          <% if !@user.deleted? %>
            <div id="friend-status-container-<%= @user.id %>">
              <% if current_user.friends_with?(@user) %>
                <span class="friend-status">Friends</span>
              <% end %>
            </div>

            <button type="button"
                    class="follow-button <%= current_user.following?(@user) ? 'unfollow' : 'follow' %>"
                    onclick="toggleFollow(<%= @user.id %>, this)"
                    data-following="<%= current_user.following?(@user) %>"
                    id="follow-button-<%= @user.id %>">
              <%= current_user.following?(@user) ? 'Unfollow' : 'Follow' %>
            </button>
          <% end %>
        <% end %>
      <% else %>
        <p><%= link_to 'Follow', new_user_registration_path, class: "follow" %></p>
      <% end %>
    </div>
  </div>

  <% if current_user == @user %>
    <%= link_to raw("<i class='fa-solid fa-gear'></i>"), edit_user_registration_path, class: "dropdown-item", style: "display: flex; justify-content: flex-end; padding-top:1rem;" %>
  <% end %>
</div>
<hr>

<div class="profile-buttons">
  <%= link_to profile_path(@user), class: "btn #{params[:liked].nil? ? 'active' : ''}" do %>
    <i class="<%= params[:liked].nil? ? 'fa-solid fa-message' : 'fa-regular fa-message'%>"></i>
  <% end %>

  <%= link_to profile_path(@user, liked: true), class: "btn #{params[:liked] == 'true' ? 'active' : ''}" do %>
    <i class="<%= params[:liked] == 'true' ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"></i>
  <% end %>
</div>

<hr>

<div class="user-activity"
     data-controller="pagination"
     data-pagination-mode-value="<%= params[:liked] == 'true' ? 'profile_liked_activities' : 'profile_activities' %>"
     data-pagination-direction-value="down">

  <div data-pagination-target="messages">
    <% if @user.deleted? %>
      <p>Users profile is blocked</p>
    <% else %>
      <% if @activities.any? %>
<% @activities.each do |activity_record| %>
  <% activity = activity_record.respond_to?(:actionable) ? activity_record.actionable : activity_record %>
  <%= render partial: 'activity', locals: { activity: activity } %>
<% end %>

<% else %>
  <p>No activity here</p>
<% end %>
<% end %>

<% if @activities.present? %>
  <% last_item = @activities.last.respond_to?(:actionable) ? @activities.last.actionable : @activities.last %>
  <div id="load-more-trigger"
       data-message-id="<%= last_item.id %>"
       data-activity-type="<%= last_item.class.name.underscore %>"
       data-user-id="<%= @user.id %>"
       data-liked-mode="<%= params[:liked] == 'true' %>">
  </div>
<% end %>


  </div>

</div>