<div class="profile-info">
  <div class="profile-picture">
    <%= link_to profile_path(@user) do %>
      <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture, alt: "#{@user.username}", class: "profile-picture", style: "height:100px; width:100px;" %>
      <% else %>
      <div class="default-profile-picture" style="background-color: <%= @user.profile_color %>; width:100px; height:auto;">
      <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture" %>
    </div>
    
      <% end %>
    <% end %>
  </div>
  
  <h1 class="profile-username">
    <p><%= @user.username %></p>
  </h1>

  <div class="user-details">
    <p><%= @user.email %></p>
  </div>
</div>


<hr>

<div class="user-activity">
  <% if (@posts + @replies).any? %>
    <% (@posts + @replies).sort_by(&:created_at).reverse.each do |activity| %>


      <!-- Originala ziņa -->
      <% if activity.is_a?(Message) %>
        <div class="activity-item" onclick="window.location='<%= message_path(activity) %>';">
          <div class="activity-header d-flex align-items-center">
            <%= link_to do %>
              <% if activity.user.profile_picture.attached? %>
                <%= image_tag activity.user.profile_picture, alt: activity.user.username, class: 'profile-pic-activity' %>
              <% else %>
                <div class="default-profile-picture" style="background-color: <%= activity.user.profile_color || '#ccc' %>; width:40px; height:40px; border-radius:50%;">
                  <%= image_tag 'default_profile.png', alt: 'Default Profile Picture', class: 'profile-pic-activity' %>
                </div>
              <% end %>
              <% end %>
            <%= link_to activity.user.username, profile_path(activity.user), class: 'activity-username' %>
            <small class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</small>

            <% if activity.user == current_user %>
              <div class="nav-item dropdown ms-auto">
                <a class="fa-solid fa-ellipsis nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation();"></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Rediģēt', edit_message_path(activity), class: 'dropdown-item btn btn-primary' %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%= button_to 'Dzēst', message_path(activity), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: 'dropdown-item btn btn-danger', "data-turbolinks" => false %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <p><%= activity.content %></p>

          <% if activity.file.attached? %>
            <div class="attached-file">
              <% if activity.file.content_type.start_with?('image/') %>
                <%= image_tag activity.file, alt: 'Attached image', class: 'attached-image' %>
              <% elsif activity.file.content_type.start_with?('video/') %>
                <video class="attached-video" controls>
                  <source src="<%= url_for(activity.file) %>" type="<%= activity.file.content_type %>">
                  Jūsu pārlūkprogramma neatbalsta video tagu.
                </video>
              <% else %>
                <%= link_to 'Download File', rails_blob_path(activity.file, disposition: 'attachment') %>
              <% end %>
            </div>
          <% end %>

          <div class="reply-counts">
            <i class="fa-regular fa-message"></i>
            <%= activity.replies.count %>
          </div>

          <!-- Like originala ziņa STRADA-->
          <% if activity.is_a?(Message) %>
            <div class="like-section d-flex align-items-center">
              <% if current_user %>
              <%= button_to toggle_like_message_path(activity), method: :post, remote: true, class: 'me-2' do %>
                <% if current_user.liked?(activity) %>
                  <i class="fa-solid fa-heart"></i>
                <% else %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              <% end %>
              <% else %>
               <i class="fa-regular fa-heart me-2"></i>
          <% end %>
          <span><%= activity.likes.count %></span>
            </div>
            <% end %>
        </div>


         
       

        <!-- Reply uz oriģinala posta -->
      <% elsif activity.is_a?(Reply) && activity.parent_id.nil? %>
        <div class="activity-item" onclick="window.location='<%= message_path(activity.message) %>';">
          <div class="activity-header d-flex align-items-center">
            <%= link_to do %>
              <% if activity.user.profile_picture.attached? %>
                <%= image_tag activity.user.profile_picture, alt: activity.user.username, class: 'profile-pic-activity' %>
              <% else %>
                <div class="default-profile-picture" style="background-color: <%= activity.user.profile_color || '#ccc' %>; width:40px; height:40px; border-radius:50%;">
                  <%= image_tag 'default_profile.png', alt: 'Default Profile Picture', class: 'profile-pic-activity' %>
                </div>
              <% end %>          
                <% end %>
            <%= link_to activity.user.username, profile_path(activity.user), class: 'activity-username' %>
            <small class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</small>

            <% if activity.user == current_user %>
              <div class="nav-item dropdown ms-auto">
                <a class="fa-solid fa-ellipsis nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation();"></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Rediģēt', edit_message_reply_path(activity.message, activity), class: 'dropdown-item btn btn-primary' %></li>
                  <li><%= button_to 'Dzēst', message_reply_path(activity.message, activity), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: 'dropdown-item btn btn-danger', "data-turbolinks" => false %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <p><%= activity.content %></p>

          <% if activity.file.attached? %>
            <div class="attached-file">
              <% if activity.file.content_type.start_with?('image/') %>
                <%= image_tag activity.file, alt: 'Attached image', class: 'attached-image' %>
              <% elsif activity.file.content_type.start_with?('video/') %>
                <video class="attached-video" controls>
                  <source src="<%= url_for(activity.file) %>" type="<%= activity.file.content_type %>">
                  Jūsu pārlūkprogramma neatbalsta video tagu.
                </video>
              <% else %>
                <%= link_to 'Download File', rails_blob_path(activity.file, disposition: 'attachment') %>
              <% end %>
            </div>
          <% end %>

          <div class="reply-counts">
            <i class="fa-regular fa-message"></i>
            <%= activity.children.count %>
          </div>

          <!-- Like originalajiem replijiem STRADA -->
          <div class="like-section d-flex align-items-center">
          <% if current_user %>
            <%= button_to toggle_like_message_reply_path(activity.message, activity), method: :post, remote: true, class: 'me-2' do %>
              <% if current_user.liked?(activity) %>
                <i class="fa-solid fa-heart"></i>
              <% else %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          <% else %>
            <i class="fa-regular fa-heart me-2"></i>
          <% end %>
          <span><%= activity.likes.count %></span>
        </div>

          <div class="original-message">
            <div class="activity-header">
              <%= link_to do %>
                <% if activity.message.user.profile_picture.attached? %>
                  <%= image_tag activity.message.user.profile_picture, alt: activity.message.user.username, class: 'profile-pic-activity' %>
                <% else %>
                  <div class="default-profile-picture" style="background-color: <%= activity.message.user.profile_color || '#ccc' %>; width:40px; height:40px; border-radius:50%;">
                    <%= image_tag 'default_profile.png', alt: 'Default Profile Picture', class: 'profile-pic-activity' %>
                  </div>
                <% end %>
              <% end %>
              <%= link_to activity.message.user.username, profile_path(activity.message.user), class: 'activity-username' %>
              <small class="activity-time"><%= time_ago_in_words(activity.message.created_at) %> ago</small>
            </div>
            <p><%= activity.message.content.truncate(100) %></p>

            <div class="reply-counts">
              <i class="fa-regular fa-message"></i>
              <%= activity.message.replies.count %>
            </div>

            <% if activity.message.file.attached? %>
              <div class="attached-file">
                <% if activity.message.file.content_type.start_with?('image/') %>
                  <%= image_tag activity.message.file, alt: 'Attached image', class: 'attached-image' %>
                <% elsif activity.message.file.content_type.start_with?('video/') %>
                  <video class="attached-video" controls>
                    <source src="<%= url_for(activity.message.file) %>" type="<%= activity.message.file.content_type %>">
                    Jūsu pārlūkprogramma neatbalsta video tagu.
                    </video>
                <% else %>
                  <%= link_to 'Download File', rails_blob_path(activity.message.file, disposition: 'attachment') %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>


        <!-- Reply uz reply -->

        <!-- Child replijs uz reply-->
      <% elsif activity.is_a?(Reply) && activity.parent.present? %> 
        <div class="activity-item" onclick="window.location='<%= message_path(activity.message) %>';">
          <div class="child-reply">
            <div class="activity-header d-flex align-items-center">
              <%= link_to do %>
                <% if activity.user.profile_picture.attached? %>
                <%= image_tag activity.user.profile_picture, alt: activity.user.username, class: 'profile-pic-activity' %>
              <% else %>
                <div class="default-profile-picture" style="background-color: <%= activity.user.profile_color || '#ccc' %>; width:40px; height:40px; border-radius:50%;">
                  <%= image_tag 'default_profile.png', alt: 'Default Profile Picture', class: 'profile-pic-activity' %>
                </div>
              <% end %>      
              <% end %>
              <%= link_to activity.user.username, profile_path(activity.user), class: 'activity-username' %>
              <small class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</small>

              <% if activity.user == current_user %>
                <div class="nav-item dropdown ms-auto">
                  <a class="fa-solid fa-ellipsis nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation();"></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Rediģēt', edit_message_reply_path(activity.message, activity), class: 'dropdown-item btn btn-primary' %></li>
                    <li><%= button_to 'Dzēst', message_reply_path(activity.message, activity), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: 'dropdown-item btn btn-danger', "data-turbolinks" => false %></li>
                  </ul>
                </div>
              <% end %>
            </div>
            <p><%= activity.content %></p>

            <% if activity.file.attached? %>
              <div class="attached-file">
                <% if activity.file.content_type.start_with?('image/') %>
                  <%= image_tag activity.file, alt: 'Attached image', class: 'attached-image' %>
                <% elsif activity.file.content_type.start_with?('video/') %>
                  <video class="attached-video" controls>
                    <source src="<%= url_for(activity.file) %>" type="<%= activity.file.content_type %>">
                    Jūsu pārlūkprogramma neatbalsta video tagu.
                    </video>
                <% else %>
                  <%= link_to 'Download File', rails_blob_path(activity.file, disposition: 'attachment') %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="reply-counts">
            <i class="fa-regular fa-message"></i>
            <%= activity.children.count %>
          </div>


          <!-- Like reply replijiem NESTRADA-->
          <% if activity.is_a?(Reply) %>         
            <div class="like-section d-flex align-items-center">
              <% if current_user %>
                <%= button_to toggle_like_message_reply_path(activity.message, activity), method: :post, remote: true, class: 'me-2' do %>
                  <% if current_user.liked?(activity) %>
                    <i class="fa-solid fa-heart"></i>
                  <% else %>
                    <i class="fa-regular fa-heart"></i>
                  <% end %>
                <% end %>
              <% else %>
                <i class="fa-regular fa-heart me-2"></i>
              <% end %>
              <span><%= activity.likes.count %></span>
            </div>
          <% end %>
          


              <!-- Parents reply to reply zinai -->
          <div class="parent-reply">
          <div class="activity-header">
            <%= link_to do %>
              <% if activity.parent.user.profile_picture.attached? %>
                <%= image_tag activity.parent.user.profile_picture, alt: activity.parent.user.username, class: 'profile-pic-activity' %>
              <% else %>
                <div class="default-profile-picture" style="background-color: <%= activity.parent.user.profile_color || '#ccc' %>; width:40px; height:40px; border-radius:50%;">
                  <%= image_tag 'default_profile.png', alt: 'Default Profile Picture', class: 'profile-pic-activity' %>
                </div>
              <% end %>
            <% end %>
        
              <%= link_to activity.parent.user.username, profile_path(activity.parent.user), class: 'activity-username' %>
              <small class="activity-time"><%= time_ago_in_words(activity.parent.created_at) %> ago</small>
            </div>
            <p><%= activity.parent.content.truncate(100) %></p>

            <div class="reply-counts">
              <i class="fa-regular fa-message"></i>
              <%= activity.parent.children.count %>
            </div>

            

            <% if activity.parent.file.attached? %>
              <div class="attached-file">
                <% if activity.parent.file.content_type.start_with?('image/') %>
                  <%= image_tag activity.parent.file, alt: 'Attached image', class: 'attached-image' %>
                <% elsif activity.parent.file.content_type.start_with?('video/') %>
                  <video class="attached-video" controls>
                    <source src="<%= url_for(activity.parent.file) %>" type="<%= activity.parent.file.content_type %>">
                    Jūsu pārlūkprogramma neatbalsta video tagu.
                    </video>
                <% else %>
                  <%= link_to 'Download File', rails_blob_path(activity.parent.file, disposition: 'attachment') %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>

    <% end %>
  <% else %>
    <p>Lietotājs nav neko vēl publicējis</p>
  <% end %>
</div>
