<div class="card border-light mb-3" style="max-width: 18rem;">
<div class="card-header">Register</div>


<div class="card-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


  <div class="field">
  <h5 class="card-title"><%= f.label :email %></h5>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
  <h5 class="card-title"><%= f.label :username %></h5>
   <%= f.text_field :username %>
 </div>
 
  <div class="field">
  <h5 class="card-title"><%= f.label :password %></h5>
  <% if @minimum_password_length %>
    <em><% @minimum_password_length %></em>
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum" %>
</div>


  <div class="field">
  <h5 class="card-title"><%= f.label :password_confirmation %></h5>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Register", class:"btn btn-dark border-0 rounded-pill shadow p-2 m-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= render "devise/shared/error_messages", resource: resource %>

</div>
</div>

