<div class="flex-column">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h2 class="text-center">Personu pievienošana</h2>
    </div>
    <div class="card-body">
      
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
   
      <%= form_with model: @friend do |f| %>
        <%= f.label :vards, "Personas vards :", class:"mt-3" %>
        <%= f.text_field :vards ,placeholder: "Ievadi personas vārdu",class:"mb-2 form-control" %>
        <br>
        <%= f.label :uzvards, "Personas uzvards :", class:"mt-3" %>
        <%= f.text_field :uzvards ,placeholder: "Ievadi personas uzvārdu",class:"mb-2 form-control" %>
        <br>
        <%= f.label :epasts, "Epasts :", class:"mt-3" %>
        <%= f.text_field :epasts ,placeholder: "Ievadi personas epastu",class:"mb-2 form-control" %>
        <br>
        <%= f.label :talrunis, "Tālrunis :", class:"mt-3" %>
        <%= f.text_field :talrunis ,placeholder: "Ievadi personas telefona nummuru",class:"mb-2 form-control" %>
        <br>
        <%= f.label :twitters, "Twitter lietotājvārds :", class:"mt-3" %>
        <%= f.text_field :twitters ,placeholder: "Ievadi personas twitter lietotājvārdu",class:"mb-2 form-control" %>
        <br>

        <%= f.number_field :user_id, id: :friend_user_id, value: current_user.id, class:"mb-2 form-control", type: :hidden%>
       
        <br>
        <%= f.submit "Pievienot", class:"btn btn-dark border-0 rounded-pill shadow p-3" %>
        <% end %>
        <%= button_to "Atpakaļ", friends_path,method: :get ,class:"btn btn-dark border-0 rounded-pill shadow p-2 m-2" %>

    </div>
  </div>
</div>