<% if @admin_activities.any? %>
  <% @admin_activities.each do |activity| %>
    <% is_current_user = activity.admin_id == current_user.id %>
<tr data-message-id="<%= activity.id %>" class="<%= 'table-active bg-light text-dark' if is_current_user %>">
      <td class="text-center"><%= activity.admin&.username %></td>
      <td class="text-center"><%= activity.action %></td>
      <td class="text-center" style="word-break: break-word;">
  <%= activity.description %>
</td>

      <td class="text-center"><%= activity.target %></td>
      <td class="text-center"><%= activity.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
    </tr>
  <% end %>
<% end %>
