<div class="edit-page">
  <div class="ep-card">
    <h2 class="ep-heading">Edit Reply</h2>

    <%= form_for([@message, @reply], html: { class: "ep-form" }) do |f| %>
      <div class="ep-field ep-field-content">
        <%= f.label :content, 'Reply content', class: 'ep-label-content' %>
        <%= f.text_area :content, class: 'ep-textarea-content' %>
      </div>

     <div class="ep-field ep-field-file">
  <%= f.label :file, 'Add or change a file', class: 'ep-label-file' %>
  <%= f.file_field :file, class: 'ep-input-file', id: 'ep-file-input' %>
</div>

<div class="ep-current-file-preview" id="ep-current-file-preview" style="<%= @reply.file.attached? ? '' : 'display:none' %>">
  <% if @reply.file.attached? %>
    <p class="ep-current-file-label">Current file:</p>
    <% if @reply.file.content_type.start_with?('image/') %>
      <%= image_tag @reply.file, class: 'ep-current-image' %>
    <% else %>
      <%= link_to 'Download current file',
                  rails_blob_path(@reply.file, disposition: 'attachment'),
                  class: 'ep-current-download' %>
    <% end %>
  <% end %>
</div>

  <div class="ep-field ep-field-remove">
    <%= f.check_box :remove_file, class: 'ep-checkbox-remove' %>
    <%= f.label :remove_file, 'Remove current file', class: 'ep-label-remove' %>
  </div>


      <div class="ep-actions">
        <%= f.submit 'Save', class: 'ep-btn-save' %>
        <%= link_to 'Back', message_path(@message), class: 'ep-btn-back' %>
      </div>
    <% end %>
  </div>
</div>
