<html>
<% #https://rutikkpatel.medium.com/crud-in-rails-7-by-rutik-patel-a2bbc942d069 %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>




<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<%= action_cable_meta_tag %>
  </head>




<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid" >

  <%= link_to 'Galvena', root_path, class: "navbar-brand", data: { turbo: 'false' } %>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
         <%= link_to "Par mums", home_about_path, class:"nav-link" %>
        </li>

        
          
           <% if user_signed_in? && (current_user.admin? || current_user.head_admin?) %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin panelis
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Personu dati", admin_personas_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Vēsture", admin_history_path, class: "dropdown-item" %></li>
            </ul>
        </li>
        <% end %>
        
      
     

      </ul>
<div class="d-flex">
<form class="d-flex" action="<%= search_users_path %>" method="get" role="search" id="user-search-form">
  <input class="form-control me-2" type="search" name="query" placeholder="Meklēt" aria-label="Search" id="user-search-input" autocomplete="off">
  <button class="mainbtn btn-outline-success" type="submit">Meklēt</button>
  <ul id="suggestions-dropdown" class="dropdown-menu" style="display: none;"></ul>
</form>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const searchInput = document.getElementById('user-search-input');
  const suggestionsDropdown = document.getElementById('suggestions-dropdown');

  searchInput.addEventListener('input', function() {
    const query = this.value;

    if (query.length > 0) {
      fetch(`/search_users.json?query=${query}`)
        .then(response => response.json())
        .then(users => {
          suggestionsDropdown.innerHTML = '';
          if (users.length > 0) {
            users.forEach(user => {
              const listItem = document.createElement('li');
              listItem.textContent = user;
              listItem.classList.add('dropdown-item');
              listItem.onclick = function() {
                searchInput.value = user;
                suggestionsDropdown.style.display = 'none';
              };
              suggestionsDropdown.appendChild(listItem);
            });
            suggestionsDropdown.style.display = 'block';
          } else {
            suggestionsDropdown.style.display = 'none';
          }
        });
    } else {
      suggestionsDropdown.style.display = 'none'; 
    }
  });

  document.addEventListener('click', function(event) {
    if (!searchInput.contains(event.target) && !suggestionsDropdown.contains(event.target)) {
      suggestionsDropdown.style.display = 'none';
    }
  });
});

</script>


      
        </div>

    </div>
  </div>
</nav> 


<div class="sidebar">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <!-- Added the dropdown-toggle class and data-bs-toggle attribute -->
      <a class="nav-link d-flex align-items-center dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <% if user_signed_in? %>
          <span class="fw-bold"><%= current_user.username %></span>
          <% if current_user.profile_picture.attached? %>
            <%= image_tag current_user.profile_picture, alt: "#{current_user.username}", class: "profile-picture-icon me-2", style: "width: 50px; height: 50px; object-fit: cover; border-radius: 50%;" %>
          <% else %>
            <div class="default-profile-picture-icon me-2" style="background-color: <%= current_user.profile_color %>; width: 50px; height: 50px; border-radius: 50%; display: inline-block;">
              <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture-icon" %>
            </div>
          <% end %>
        <% else %>
          <i class="fa-sharp fa-solid fa-right-to-bracket me-2"></i>
          <span>Pieslēgties</span>
        <% end %>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Mans profils", profile_path(current_user), class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "Rediģēt profilu", edit_user_registration_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= button_to "Iziet", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Reģistrēties", new_user_registration_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "Pieslēgties", new_user_session_path, class: "dropdown-item" %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>


<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <%= link_to chats_path, class: "nav-link d-flex align-items-center" do %>
      <i class="fa-solid fa-comments me-2"></i> Chat
    <% end %>
  </li>
</ul>


<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <button class="nav-link d-flex align-items-center" id="notification-bell" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bell me-2"></i> Notifications
      <span id="notification-count" class="badge bg-danger ms-2">0</span>
    </button>
    <ul id="suggestions-dropdown" class="dropdown-menu" style="display: none;">
    </ul>
  </li>
</ul>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <button class="nav-link d-flex align-items-center" disabled>
        <i class="fa-solid fa-bookmark me-2"></i> Saved posts
      </button>
    </li>
    </ul>
</div>

</html>