<% notifiable = notification.notifiable %>
<% notification_type_class =
  case notification.type_symbol
  when :like    then 'notification-like'
  when :reply   then 'notification-reply'
  when :message then 'notification-message'
  when :follow  then 'notification-follow'
  else ''
  end %>

<li id="notification-<%= notification.id %>"
    class="list-group-item d-flex <%= 'bg-dark' unless notification.read %> notification-item hover-pointer <%= notification_type_class %>"
    data-message-id="<%= notification.id %>"
    data-url="<%= notification.url %>"
    data-read="<%= notification.read %>"
    data-id="<%= notification.id %>"
    onmouseenter="handleNotificationHover(<%= notification.id %>, this)">



  <% sender = notification.sender %>
  <div class="notificationProfiles d-flex align-items-center">
    <%= link_to profile_path(sender || current_user) do %>
      <div
        class="default-profile-picture me-2"
        style="background-color: <%= sender&.profile_color || '#ccc' %>; width:70px; height:70px; border-radius:50%;">
        <% if sender&.profile_picture&.attached? %>
          <%= image_tag sender.profile_picture, class: 'chat-profile-picture me-2' %>
        <% else %>
          <%= image_tag 'default_profile.png', class: 'w-10 h-10 rounded-circle object-cover' %>
        <% end %>
      </div>
    <% end %>

    <div>
      <div class="fw-bold">
        <%= sender ? link_to(sender.username, profile_path(sender), class: 'text-decoration-none') : 'System' %>
      </div>
      <%= notification.message_text %><br>
      <small><%= time_ago_in_words(notification.created_at) %> ago</small>
    </div>
  </div>




  <% if notifiable.is_a?(Like) %>

    <% liked_item = notifiable.likeable %>

    <% if liked_item.is_a?(Reply) %>
      <div onclick="window.location='<%= message_path(liked_item.message, anchor: "reply-#{liked_item.id}") %>'">
        <div class="child-reply">
          <div class="activity-header d-flex align-items-center mb-2">
            <%= link_to profile_path(liked_item.user) do %>
              <% if liked_item.user.profile_picture.attached? %>
                <%= image_tag liked_item.user.profile_picture, class: 'profile-pic-activity me-2' %>
              <% else %>
                <div
                  class="default-profile-picture me-2"
                  style="background-color: <%= liked_item.user.profile_color || '#ccc' %>;
                         width:50px; height:50px; border-radius:50%;"
                >
                  <%= image_tag 'default_profile.png', class: 'profile-pic-activity' %>
                </div>
              <% end %>
            <% end %>

            <%= link_to liked_item.user.username,
                        profile_path(liked_item.user),
                        class: 'activity-username me-2 text-decoration-none fw-bold' %>
          </div>

          <p><%= liked_item.content %></p>

          <% if liked_item.file.attached? %>
            <div class="attached-file mt-2">
              <% if liked_item.file.image? %>
                <%= image_tag liked_item.file, class: 'img-thumbnail', style: 'max-height: 50px;' %>
              <% elsif liked_item.file.video? %>
                <video class="attached-video" controls style="max-height: 50px;">
                  <source
                    src="<%= url_for(liked_item.file) %>"
                    type="<%= liked_item.file.content_type %>"
                  >
                </video>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    <% elsif liked_item.is_a?(Message) %>
      <div onclick="window.location='<%= message_path(liked_item) %>'">
        <div class="child-reply">
          <div class="activity-header d-flex align-items-center mb-2">
            <%= link_to profile_path(liked_item.user) do %>
              <% if liked_item.user.profile_picture.attached? %>
                <%= image_tag liked_item.user.profile_picture, class: 'profile-pic-activity me-2' %>
              <% else %>
                <div
                  class="default-profile-picture me-2"
                  style="background-color: <%= liked_item.user.profile_color || '#ccc' %>;
                         width:50px; height:50px; border-radius:50%;">
                  <%= image_tag 'default_profile.png', class: 'profile-pic-activity' %>
                </div>
              <% end %>
            <% end %>

            <%= link_to liked_item.user.username,
                        profile_path(liked_item.user),
                        class: 'activity-username me-2 text-decoration-none fw-bold' %>
          </div>

          <p><%= liked_item.content %></p>

          <% if liked_item.file.attached? %>
            <div class="attached-file mt-2">
              <% if liked_item.file.image? %>
                <%= image_tag liked_item.file, class: 'img-thumbnail', style: 'max-height: 50px;' %>
              <% elsif liked_item.file.video? %>
                <video class="attached-video" controls style="max-height: 50px;">
                  <source
                    src="<%= url_for(liked_item.file) %>"
                    type="<%= liked_item.file.content_type %>"
                  >
                </video>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>


  <% if notifiable.is_a?(Reply) %>
    <% reply = notifiable %>

    <div onclick="window.location='<%= message_path(reply.message, anchor: "reply-#{reply.id}") %>'">
      <div class="child-reply">
        <div class="activity-header d-flex align-items-center mb-2">
          <!-- Avatar -->
          <%= link_to profile_path(reply.user) do %>
            <% if reply.user.profile_picture.attached? %>
              <%= image_tag reply.user.profile_picture, class: 'profile-pic-activity me-2' %>
            <% else %>
              <div
                class="default-profile-picture me-2"
                style="background-color: <%= reply.user.profile_color || '#ccc' %>;
                       width:50px; height:50px; border-radius:50%;">
                <%= image_tag 'default_profile.png', class: 'profile-pic-activity' %>
              </div>
            <% end %>
          <% end %>

          <%= link_to reply.user.username,
                      profile_path(reply.user),
                      class: 'activity-username me-2 text-decoration-none fw-bold' %>
        </div>

        <p><%= reply.content %></p>
      </div>
    </div>

  <% elsif notifiable.is_a?(Message) %>
    <% message = notifiable %>

    <div onclick="window.location='<%= message_path(message) %>'">
      <div class="child-reply">
        <div class="activity-header d-flex align-items-center mb-2">
          <%= link_to profile_path(message.user) do %>
            <% if message.user.profile_picture.attached? %>
              <%= image_tag message.user.profile_picture, class: 'profile-pic-activity me-2' %>
            <% else %>
              <div
                class="default-profile-picture me-2"
                style="background-color: <%= message.user.profile_color || '#ccc' %>;
                       width:50px; height:50px; border-radius:50%;"
              >
                <%= image_tag 'default_profile.png', class: 'profile-pic-activity' %>
              </div>
            <% end %>
          <% end %>

          <%= link_to message.user.username,
                      profile_path(message.user),
                      class: 'activity-username me-2 text-decoration-none fw-bold' %>
        </div>

        <p><%= message.content %></p>

        <% if message.file.attached? %>
          <div class="attached-file mt-2">
            <% if message.file.image? %>
              <%= image_tag message.file, class: 'img-thumbnail', style: 'max-height: 50px;' %>
            <% elsif message.file.video? %>
              <video class="attached-video" controls style="max-height: 50px;">
                <source
                  src="<%= url_for(message.file) %>"
                  type="<%= message.file.content_type %>"
                >
              </video>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</li>
