<li id="reply-<%= reply.id %>" data-message-id="<%= reply.id if reply.parent_id.nil? %>" data-parent-id="<%= reply.parent_id %>" class="reply-block clickable-reply" data-reply-username="<%= reply.user.username %>" data-reply-id="<%= reply.id %>" style="padding:0.5rem;">
  <div class="reply-header d-flex align-items-center mb-2">
        <div class="default-profile-picture d-flex align-items-center justify-content-center" style="background-color: <%= reply.user.profile_color %>; width: 50px; height: 50px;">
    <% if reply.user.profile_picture.attached? %>
      <%= image_tag reply.user.profile_picture, alt: "#{reply.user.username}", class: "profile-picture", style: "width: 50px; height: 50px; object-fit: cover;" %>
    <% else %>
        <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture" %>
    <% end %>
      </div>

      <span class="fw-bold">
        <%= link_to reply.user&.username || 'Anonīms', profile_path(reply.user) %>
      </span>
      <small class="activity-time d-block"><%= time_ago_in_words(reply.created_at) %> ago</small>

    <% if current_user && (reply.user == current_user || current_user.admin?) %>
      <div class="nav-item dropdown ms-auto">
        <a class="fa-solid fa-ellipsis nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
        <ul class="dropdown-menu">
          <li>
          <% parent_message = @message || reply.message %>
        <%= link_to 'Edit', edit_message_reply_path(parent_message, reply), class: 'dropdown-item btn btn-primary' %>
        </li>
          <li>
            <%= button_to 'Delete', message_reply_path(parent_message, reply), method: :delete,
            data: { confirm: 'Are you sure you want to delete?' },
            class: 'dropdown-item btn btn-danger', "data-turbolinks": false %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

 <% if reply.content.present? %>
  <%= simple_format(reply.content.gsub(/@(\w+)/) do |mention|
    user = User.find_by(username: $1)
    user ? link_to(mention, profile_path(user), class: "text-info fw-bold") : mention
  end.html_safe) %>
<% end %>


  <% if reply.file.attached? %>
    <div class="reply-file mt-2">
      <% if reply.file.content_type.start_with?('image/') %>
        <%= image_tag reply.file, alt: 'Downloaded image', class: "img-fluid rounded" %>
      <% elsif reply.file.content_type.start_with?('video/') %>
        <video width="100%" controls class="rounded">
          <source src="<%= url_for(reply.file) %>" type="<%= reply.file.content_type %>">
          Video tag not supported.
        </video>
      <% else %>
        <%= link_to 'Download file', rails_blob_path(reply.file, disposition: 'attachment'), class: "btn btn-outline-secondary mt-2" %>
      <% end %>
    </div>
  <% end %>

 

  <div class="ComAndLike d-flex justify-content-between align-items-center mt-2" id="ReplyReplyLikes">
   <% if reply.parent_id.nil? %>
      <button class="comment btn btn-sm btn-link text-decoration-none text-dark" data-bs-toggle="collapse" data-bs-target="#replyToReply<%= reply.id %>">
  <i class="fa-regular fa-message"></i>
  <span id="comment-count-<%= reply.id %>">
    <%= pluralize(reply.children.count, 'comment', 'comments') %>
  </span>
</button>
  <% end %>
  <div class="like-section d-flex align-items-center">
  <% if current_user %>
<% parent_message_id = @message&.id || reply.message&.id %>
<%= button_tag type: 'button', class: 'heart me-2 border-0 bg-transparent p-0', onclick: "toggleReplyLike(#{reply.id}, this, #{parent_message_id}); event.stopPropagation();" do %>
  <% if current_user.liked?(reply) %>
    <i class="fa-solid fa-heart"></i>
  <% else %>
    <i class="fa-regular fa-heart"></i>
  <% end %>
<% end %>

  <% else %>
    <i class="fa-regular fa-heart me-2"></i>
  <% end %>
  <span id="like-reply-count-<%= reply.id %>"><%= reply.likes.count %></span>
</div>

<% if current_user %>
  <% bookmarked = current_user.bookmarks.exists?(bookmarkable: reply) %>
  <button class="btn btn-sm bookmark-button"
          onclick="event.stopPropagation(); toggleBookmark(<%= reply.id %>, this, 'reply')"
          data-bookmarked="<%= bookmarked %>">
    <% if bookmarked %>
      <i class="fa-solid fa-bookmark text-warning"></i>
    <% else %>
      <i class="fa-regular fa-bookmark text-warning"></i>
    <% end %>
  </button>
<% end %>


</div>


  
  <div class="child-replies collapse mt-3" id="replyToReply<%= reply.id %>" style="padding: 0 20px;">
    <ul class="reply-list">
    <% reply.children.each do |child| %>
    <%= render partial: 'home/reply', locals: { reply: child } %>
    <% end %>
    </ul>
  </div>

</li>


