<h1>Edit message</h1>

<%= form_with model: @message, local: true do |form| %>
  <div class="form-group">
    <%= form.label :content, 'Message content' %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :file, 'Add or change a file' %>
    <%= form.file_field :file, class: "form-control" %>
  </div>

  <% if @message.file.attached? %>
  <p>Current file:</p>
  <% if @message.file.content_type.start_with?('image/') %>
    <%= image_tag @message.file, alt: 'Current file', style: 'max-width: 100%; height: auto;' %>
  <% else %>
    <%= link_to 'Download current file', rails_blob_path(@message.file, disposition: 'attachment') %>
  <% end %>
  <div class="form-group">
    <%= form.check_box :remove_file %>
    <%= form.label :remove_file, 'Remove current file' %>
  </div>
<% end %>


  <%= form.submit 'Save', class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', message_path(@message), class: "btn btn-secondary" %>

