<div class="card-container">
  <div class="message-header d-flex align-items-center mb-3">
    <%= link_to profile_path(@message.user) do %>
     <% if @message.user.profile_picture.attached? %>
        <%= image_tag url_for(@message.user.profile_picture), alt: @message.user.username, class: 'rounded-circle me-2', style: 'width: 50px; height: 50px; object-fit:cover;' %>
      <% else %>
        <div class="default-profile-picture" style="background-color: <%= @message.user.profile_color %>;">
          <%= image_tag "default_profile.png", alt: "Default Profile Picture", class: "profile-picture" %>
        </div>
      <% end %>
    <% end %>
    <%= link_to @message.user&.username || 'Anonīms', profile_path(@message.user), class: 'Profile-username fw-bold' %>
    <small class="activity-time"><%= time_ago_in_words(@message.created_at) %> ago</small>

<% if current_user && (@message.user == current_user || current_user.admin?) %>
      <div class="nav-item dropdown ms-auto">
        <a class="fa-solid fa-ellipsis nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit', edit_message_path(@message), class: 'dropdown-item btn btn-primary' %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= button_to 'Delete', message_path(@message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item btn btn-danger', "data-turbolinks" => false %></li>
        </ul>
      </div>
    <% end %>
  </div>

  <p class="message-content"><%= @message.content %></p>

  <% if @message.file.attached? %>
    <div class="message-media">
      <% if @message.file.content_type.start_with?('image/') %>
        <%= image_tag @message.file, alt: 'Pievienota bilde' %>
      <% elsif @message.file.content_type.start_with?('video/') %>
        <video width="100%" controls>
          <source src="<%= url_for(@message.file) %>" type="<%= @message.file.content_type %>">
          Video tag not supported.
        </video>
      <% else %>
        <%= link_to 'Download File', rails_blob_path(@message.file, disposition: 'attachment') %>
      <% end %>
    </div>
  <% end %>


  <div class="d-flex" style="justify-content: space-between; padding: 0 5rem;">
  <div class="comment-section d-flex align-items-center">
  <i class="fa-regular fa-message me-2"></i>
  <span id="comment-count-<%= @message.id %>"><%= @comment_count %></span>
</div>



  <!-- Like funkcija -->
  <div class="like-section d-flex align-items-center">
  <% if current_user %>
    <button class="heart me-2 border-0 bg-transparent p-0"
            onclick="toggleLike(<%= @message.id %>, this); event.stopPropagation();"
            id="like-button-<%= @message.id %>">
      <% if current_user.liked?(@message) %>
        <i class="fa-solid fa-heart"></i>
      <% else %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    </button>
  <% else %>
    <i class="fa-regular fa-heart me-2"></i>
  <% end %>
  <span id="like-count-<%= @message.id %>"><%= @message.likes.count %></span>
</div>


<%= form_with url: message_bookmark_path(@message), method: current_user.bookmarked_messages.exists?(@message.id) ? :delete : :post, remote: true, data: { turbo_frame: "_top" } do %>
  <button class="bookmark border-0 bg-transparent p-0">
    <% if current_user.bookmarked?(@message) %>
      <i class="fa-solid fa-bookmark text-warning"></i>
    <% else %>
      <i class="fa-regular fa-bookmark text-secondary"></i>
    <% end %>
  </button>
<% end %>


</div>
</div>
<div class="card-container">
  <h1>Comments</h1>

  <hr>
<div class="replies" data-controller="pagination" data-pagination-url-value="<%= load_more_message_replies_path(@message) %>" data-pagination-mode-value="replies" data-pagination-direction-value="down">
  <ul class="reply-list" data-pagination-target="messages">

<% @replies.where(parent_id: nil).each do |reply| %>
<%= render partial: 'home/reply', locals: { reply: reply, message: @message, current_user: current_user } %>
<% end %>

</ul>


</div>


<div id="dynamic-reply-form-wrapper" class="bg-dark text-center p-2 position-fixed bottom-0 start-0 end-0 d-flex flex-column justify-content-center z-index-1000">
    <div id="replyFilePreview" class="file-preview"></div>

  <div id="replying-to-label" class="text-white mb-2">
  Replying to <span id="replying-to-username" class="fw-bold"></span>
  <button class="btn btn-sm btn-light ms-2" onclick="clearReplyTarget(); return false;">Cancel</button>
  </div>

<%= form_with model: [@message, @message.replies.build], local: false, html: { id: 'dynamic-reply-form', onsubmit: 'postReply(event); return false;' } do |form| %>
<%= form.hidden_field :parent_id, id: 'dynamic-reply-parent-id' %>
<%= form.hidden_field :mentioned_username, id: 'dynamic-reply-mentioned-username' %>
<input type="hidden" id="replying-to-should-mention" value="0">
    <input type="hidden" id="message-id-hidden" value="<%= @message.id %>">

    <div class="input-container d-flex">
      <%= form.text_field :content, placeholder: "Enter your reply here...", autocomplete: "off", class: "form-control me-2", id: "replyInputField", maxlength: 255 %>

      <label class="file-upload me-2">
        <i class="fas fa-paperclip"></i>
        <%= form.file_field :file, id: "replyFileInput", onchange: "displayReplyFileName()" %>
      </label>

<button class="mainbtn" id="replySubmitButton"><i class="fas fa-paper-plane"></i></button>
    </div>
  <% end %>


  </div>





<% last_reply = @replies.where(parent_id: nil).last %>
<% if last_reply.present? %>
  <div id="load-more-trigger" data-message-id="<%= last_reply.id %>" data-after-id="<%= @message.id%>">
  </div>
<% end %>

