<h1>Ziņu detaļas</h1>


<li class="nav-item dropdown">
<a class="fa-solid fa-ellipsis nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
</a>
<ul class="dropdown-menu">
    <li><%= link_to 'Rediģēt ziņu', edit_message_path(@message), class: 'dropdown-item btn btn-primary' %></li>
  <li><hr class="dropdown-divider"></li>
  <li><%= button_to 'Dzēst ziņu', message_path(@message), method: :delete, data: { confirm: 'Vai tiešām vēlaties dzēst?' }, class: 'dropdown-item btn btn-danger', "data-turbolinks" => false %></li>
  </ul>
</li>


<p><%= @message.content %></p>

<% if @message.file.attached? %>
  <div>
    <%= image_tag @message.file, alt: 'Nolādēta bilde', style: 'max-width: 100%; height: auto;' %>
  </div>
<% end %>


<hr>
<h4>Tava ziņa:</h4>
<%= form_with model: [@message, @message.replies.build], local: true do |form| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> Neļāva saglabāt šo failu:</h2>
      <ul>
        <% @reply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex">
  <%= form.text_field :content, placeholder: "Ievadiet savu atbildi šeit...", autocomplete: "off" %><br>
  <%= form.file_field :file %><br>
  <%= form.submit "Atbildēt" %>
  </div>
<% end %>


<h4>Komenti:</h4>
<ul>
  <% @message.replies.each do |reply| %>
    <% if reply.id.present? %>
      <li class="nav-item dropdown">
        <a class="fa-solid fa-ellipsis nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
        <ul class="dropdown-menu">
<%= link_to 'Rediģēt atbildi', edit_message_reply_path(@message, reply), class: 'dropdown-item btn btn-primary' %>
          <li><hr class="dropdown-divider"></li>
          <li><%= button_to 'Dzēst atbildi', message_reply_path(@message, reply), method: :delete, data: { confirm: 'Vai tiešām vēlaties dzēst?' }, class: 'dropdown-item btn btn-danger', "data-turbolinks" => false %></li>
          </ul>
      </li>
      <li>
        <p><%= reply.content %></p>
        <% if reply.file.attached? %>
          <div>
            <% if reply.file.content_type.start_with?('image/') %>
              <%= image_tag reply.file, alt: 'Nolādētā bilde', style: 'max-width: 100%; height: auto;' %>
            <% else %>
              <%= link_to 'Nolādēt failu', rails_blob_path(reply.file, disposition: 'attachment') %>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
    <br>
  <% end %>
</ul>

