<h2 class="text-xl font-bold mb-4">Friends</h2>
<div id="friends-grid" class="grid grid-cols-3 gap-4">
<% @sorted_conversations.each do |conversation| %>
  <% friend = conversation.sender == current_user ? conversation.receiver : conversation.sender %>
    <% last_message_time = conversation.chat_conversations.maximum(:created_at)&.to_i || 0 %>
    <div class="bg-white shadow rounded-lg p-4 flex flex-col items-center"
         data-convo-id="<%= conversation.id %>"
         data-last-message-at="<%= last_message_time %>">
          <%= link_to chat_path(conversation) do %>
        <% if friend.profile_picture.attached? %>
          <%= image_tag friend.profile_picture, class: 'w-20 h-20 rounded-full object-cover mb-2' %>
        <% else %>
          <div class="default-profile-picture" style="background-color: <%= friend.profile_color %>; width:100px; height:auto;">
            <%= image_tag 'default_profile.png', class: 'w-20 h-20 rounded-full object-cover mb-2' %>
          </div>
        <% end %>
        <p class="text-center text-sm font-semibold mb-1"><%= friend.username %></p>
        
        <% other_user = conversation.sender == current_user ? conversation.receiver : conversation.sender %>
        <% unless current_user.friends.include?(other_user) %>
          <%= button_to 'Close Chat', hide_chat_path(conversation), method: :post, class: 'text-sm text-red-500' %>
        <% end %>
        

        <% last_message = @last_messages[conversation.id] %>
        <% if last_message.present? %>
        <p class="text-sm text-gray-500 text-center mt-1 last-message-snippet">
        <%= truncate(last_message, length: 30) %>
        </p>
        <% end %>

        <span class="chat-unread-count badge bg-danger" style="display: none;">0</span>
      <% end %>
    </div>
  <% end %>
</div>
