<div class="chats-box" data-controller="chat pagination" data-chat-conversation-id="<%= @conversation.id %>" data-pagination-conversation-id-value="<%= @conversation.id %>" data-current-user="<%= current_user.username %>" data-current-user-id="<%= current_user.id %>">
<div id="chats_messages" data-chat-target="messages" data-pagination-target="messages">
<%= render 'chats/chat_conversation', chat_conversations: @chat_conversations %>
</div>
</div>

<%= form_with(model: [@conversation, @conversation.chat_conversations.build], url: chat_chat_conversations_path(@conversation), data: { remote: true }) do |form| %>
  <div class="ChatInputField text-center p-4 position-fixed bottom-0 start-0 end-0 d-flex flex-column justify-content-center">
    <div id="fileInfo" class="file-info"></div>
    <div>
      <div id="filePreview" class="file-preview"></div>
    </div>
    <div class="chat-input-container gap-2">
      <textarea id="inputField_chat"
                class="form-control auto-resize-input"
                name="chat_conversation[content]"
                placeholder="Enter your message..."
                rows="1"
                maxlength="1000"
                style="resize: none;"></textarea>

      <label class="file-upload">
        <i class="fas fa-paperclip"></i>
        <input type="file" id="fileInput" hidden>
      </label>

      <button id="postChat" class="mainbtn">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
<% end %>
